@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');

@primary-1: rgba(64,192,190,1);
@primary-1-faded: rgba(64,192,190,0.5);
@primary-2: rgba(243,214,55,1);
@primary-2-faded: rgba(243,214,55,0.5);
@primary-3: rgba(70,191,188,1);
@primary-3-faded: rgba(70,191,188,0.5);
@off-black: rgba(107,104,102,1);
@light-grey: rgba(240,242,240,1);
@white: rgba(255,255,255,1);

html, body, #app, #app-root {
  height: 100%;
}

.centered-container {
  width: 960px;
  margin: 0 auto;
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.quicksand-bold {
  .quicksand;
  font-weight: 700;
}

.quicksand-regular {
  .quicksand;
  font-weight: 400;
}

.quicksand-light {
  .quicksand;
  font-weight: 300;
}

body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

#components--signup, #components--signin {
  background-image: url('../img/bg-splash.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;

  div.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    text-align: center;
    width: 500px;

    h1 {
      text-transform: uppercase;
      padding: 0;
      margin: 0 0 12px 0;
      text-align: center;
      display: inline-block;
      color: @white;
      font-size: 81px;
      .quicksand-bold;
    }

    .form-input {
      margin-bottom: 23px;


      &.half-input {
        width: 50%;
        display: inline-block;

        .first-half-input-inner {
          padding-right: 10px;
        }

        .second-half-input-inner {
          padding-left: 10px;
        }
      }

      input {
        outline: none;
        height: 55px;
        width: 100%;
        text-align: center;
        border-radius: 30px;
        border: 1px solid @primary-1;
        font-size: 15px;
        .quicksand-light;

        &::-webkit-input-placeholder {
          text-transform: uppercase;
        }
      }
    }

    .signup-divider {
      width: 100%;
      margin-bottom: 23px;
      border-top: 1px solid @white;
    }

    .signup-button {

      a {
        line-height: 54px !important;
      }

      button, a {
        position: relative;
        line-height: 50px;
        text-decoration: none;
        background-color: @primary-2;
        color: @white;
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        .quicksand-bold;
        border: 0;
        border-radius: 30px;
        display: inline-block;
        height: 55px;
        width: 100%;

        #components--loading-cube {
          position: absolute;
          top: -13px;
          left: 18px;
          transform: scale(0.8);
        }

        &:disabled {
          opacity: 0.5;
          cursor:not-allowed;
        }
      }
    }
  }
}

#components--signin {
  div.signup-form {
    width: 100%;

    h1, h2 {
      margin: 0;
      padding: 0;
    }

    h1 {
      display: block;
      font-size: 55px;
      margin: 0 auto 20px auto;
    }

    .inner-signup-form {
      width: 500px;
      display: inline-block;
      margin: 0 auto;

      .newuser-button {
        margin-top: 23px;

        a {
          background-color: @primary-1;
        }
      }
    }
  }
}

#components--star-rating {
  vertical-align: top;
  display: inline-block;

  .above-part {
    margin-top: 6px;
    .star {
      display: inline-block;
      background-image: url('/img/star-filled.png');
      background-repeat: no-repeat;
      width: 23px;
      height: 22px;
      margin-right: 4px;
    }
  }

  .below-part {
    .quicksand-regular;
    color: @off-black;
    font-size: 12px;
    letter-spacing: -1px;
    margin-top: 13px;
    text-align: center;
    text-transform: uppercase;
  }

}

#components--steepness-blob {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;

  .round-part {
    padding: 0 20px;
    text-align: center;
    margin-bottom: 2px;

    img {
      max-height: 40px;
    }
  }

  .below-part {
    .quicksand-regular;
    color: @off-black;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
}

#components--fact-blob {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1px;

  .round-part {
    .quicksand-bold;
    padding: 5px 20px;
    color: @primary-3;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid @primary-3;
    text-align: center;
    margin-bottom: 4px;
  }

  .below-part {
    .quicksand-regular;
    color: @off-black;
    position: relative;
    top: 5px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
  }
}

#components--climb-view {
  .centered-container;
  margin-top: 30px;

  .climb-details {

    .climb-information {
      width: 615px;

      .quick-facts {
        position: relative;
        width: 100%;

        #components--star-rating {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    .climb-text {

      h2.climb-name {
        .quicksand-bold;
        color: @primary-1;
        padding-top: 90px;
        font-size: 35px;
        margin: 0;
        text-transform: uppercase;
      }

      h3.climb-quick-location {
        .quicksand-bold;
        font-size: 16px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }

      p.climb-description, p.climb-location, p.climb-history {
        font-size: 15px;
      }

      .climb-text-separator {
        padding: 0;
        margin: 30px 0;
        border-top: 1px solid @light-grey;
        height: 1px;
      }

      .climb-data {
        ul {
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            display: inline-block;
            width: 50%;

            span {
              .quicksand-bold;
            }
          }
        }
      }
    }


    .climb-gallery {
      width: 300px;
      margin-right: 45px;
      margin-bottom: 30px;
      float: left;

      .gallery-preview-img {

        a {
          display: block;
          text-decoration: none;
          opacity: 1;
          transition: all 250ms ease;

          &:hover {
            opacity: 0.8;
          }

          img {
            max-width: 100%;
            max-height: 500px;
            display: block;
          }

          .gallery-open {
            background-color: @primary-2;
            text-transform: uppercase;
            text-align: center;
            padding: 10px 0;
            .quicksand-bold;
            color: @white;
            width: 100%;
          }
        }
      }
    }

    .climb-information {
      float: left;
    }
  }

  .climb-comments {
    h3 {
      font-size: 24px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li.comment {
        display: block;
        min-height: 50px;
        padding: 20px 0;
        border-bottom: 1px solid @light-grey;

        &:last-of-type {
          border-bottom: 0;
        }

        div.user, div.comment-text {
          display: inline-block;
          vertical-align: top;
        }

        div.user {
          width: 20%;
          .quicksand-bold;

          div.poster-img, div.poster {
            vertical-align: top;
            display: inline-block;
          }

          div.poster-img {
            padding-right: 10px;
          }

          div.poster {
            text-transform: uppercase;

            .poster-name {
              padding-top: 7px;
              font-size: 11px;
              color: @primary-1;

              a {
                text-decoration: none;
              }
            }

            .post-time {
              font-size: 9px;
            }
          }
        }

        div.comment-text {
          width: 80%;
          padding-top: 5px;
          font-size: 15px;
        }
      }
    }
  }
}

#components--breadcrumb {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
  color: @off-black;
  font-size: 13px;
  .quicksand-bold;
  height: 100%;

  &:first-of-type {
    &:before {
      display: none;
    }
  }

  &:before {
    margin: 0 5px 0 6px;
    content: '\E5CC';
    color: @off-black;
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 17px;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }
}

#components--breadcrumbs {
  height: 40px;
  background-color: @light-grey;

  .breadcrumbs-inner {
    .centered-container;
  }
}

#components--button-link {
  transition: all 250ms ease;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 30px;
  padding: 10px 15px;
  margin: 0 10px;
  .quicksand-bold;
  font-size: 15px;
  color: @white;
  border: 0;

  &.primary-1 {
    background-color: @primary-1;

    &:hover {
      background-color: @primary-1-faded;
    }
  }

  &.primary-2 {
    background-color: @primary-2;

    &:hover {
      background-color: @primary-2-faded;
    }
  }
}

#components--nav {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid @primary-1;

  .nav-inner {
    .centered-container;

    .logo, .links, .auth {
      vertical-align: top;
      display: inline-block;
    }

    .links, .auth {
      float: right;
    }

    .logo {
      height: 100%;

      .logo-text {
        .quicksand-bold;
        padding: 0 20px;
        display: inline-block;
        letter-spacing: 1px;
        font-size: 25px;
        color: @primary-1;
        text-decoration: none;
        text-transform: uppercase;
      }
    }

    .links {
      height: 100%;

      a {
        .quicksand-regular;
        padding: 0 17px;
        display: inline-block;
        letter-spacing: 1px;
        color: @off-black;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 500ms ease;
        -moz-box-shadow: inset 0 0 0 0 @primary-2;
        -webkit-box-shadow: inset 0 0 0 0 @primary-2;
        box-shadow: inset 0 0 0 0 @primary-2;

        &:hover, &.active {
          -moz-box-shadow: inset 0 -12px 0 -10px @primary-2;
          -webkit-box-shadow: inset 0 -12px 0 -10px @primary-2;
          box-shadow: inset 0 -12px 0 -10px @primary-2;
        }
      }
    }

    .auth {
      height: 100%;
      margin-left: 10px;
    }
  }

}

#components--loading-cube {
  .sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }

  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @primary-1;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
}

#components--ajax-cover {
  opacity: 0.6;
  pointer-events: all;
  background: #333;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;

  .loading-info {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1 !important;
    transform: translate(-50%, -50%);

    h3 {
      text-transform: uppercase;
      color: @white;
    }
  }
}
