@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700');
html,
body,
#app,
#app-root {
  height: 100%;
}
.centered-container {
  width: 960px;
  margin: 0 auto;
}
.quicksand {
  font-family: 'Quicksand', sans-serif;
}
.quicksand-bold {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
.quicksand-regular {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
.quicksand-light {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
body {
  padding: 0;
  margin: 0;
}
* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}
#components--signup,
#components--signin {
  background-image: url('../img/bg-splash.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#components--signup div.signup-form,
#components--signin div.signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
  width: 500px;
}
#components--signup div.signup-form h1,
#components--signin div.signup-form h1 {
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 12px 0;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  font-size: 81px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
#components--signup div.signup-form .form-input,
#components--signin div.signup-form .form-input {
  margin-bottom: 23px;
}
#components--signup div.signup-form .form-input.half-input,
#components--signin div.signup-form .form-input.half-input {
  width: 50%;
  display: inline-block;
}
#components--signup div.signup-form .form-input.half-input .first-half-input-inner,
#components--signin div.signup-form .form-input.half-input .first-half-input-inner {
  padding-right: 10px;
}
#components--signup div.signup-form .form-input.half-input .second-half-input-inner,
#components--signin div.signup-form .form-input.half-input .second-half-input-inner {
  padding-left: 10px;
}
#components--signup div.signup-form .form-input input,
#components--signin div.signup-form .form-input input {
  outline: none;
  height: 55px;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #40c0be;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}
#components--signup div.signup-form .form-input input::-webkit-input-placeholder,
#components--signin div.signup-form .form-input input::-webkit-input-placeholder {
  text-transform: uppercase;
}
#components--signup div.signup-form .signup-divider,
#components--signin div.signup-form .signup-divider {
  width: 100%;
  margin-bottom: 23px;
  border-top: 1px solid #ffffff;
}
#components--signup div.signup-form .signup-button a,
#components--signin div.signup-form .signup-button a {
  line-height: 54px !important;
}
#components--signup div.signup-form .signup-button button,
#components--signin div.signup-form .signup-button button,
#components--signup div.signup-form .signup-button a,
#components--signin div.signup-form .signup-button a {
  line-height: 50px;
  text-decoration: none;
  background-color: #f3d637;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 30px;
  display: inline-block;
  height: 55px;
  width: 100%;
}
#components--signin div.signup-form {
  width: 100%;
}
#components--signin div.signup-form h1,
#components--signin div.signup-form h2 {
  margin: 0;
  padding: 0;
}
#components--signin div.signup-form h1 {
  display: block;
  font-size: 55px;
  margin: 0 auto 20px auto;
}
#components--signin div.signup-form .inner-signup-form {
  width: 500px;
  display: inline-block;
  margin: 0 auto;
}
#components--signin div.signup-form .inner-signup-form .newuser-button {
  margin-top: 23px;
}
#components--signin div.signup-form .inner-signup-form .newuser-button a {
  background-color: #40c0be;
}
#components--star-rating {
  vertical-align: top;
  display: inline-block;
}
#components--star-rating .above-part {
  margin-top: 6px;
}
#components--star-rating .above-part .star {
  display: inline-block;
  background-image: url('/img/star-filled.png');
  background-repeat: no-repeat;
  width: 23px;
  height: 22px;
  margin-right: 4px;
}
#components--star-rating .below-part {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #6b6866;
  font-size: 12px;
  letter-spacing: -1px;
  margin-top: 13px;
  text-align: center;
  text-transform: uppercase;
}
#components--steepness-blob {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
}
#components--steepness-blob .round-part {
  padding: 0 20px;
  text-align: center;
  margin-bottom: 2px;
}
#components--steepness-blob .round-part img {
  max-height: 40px;
}
#components--steepness-blob .below-part {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #6b6866;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
#components--fact-blob {
  vertical-align: top;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
#components--fact-blob .round-part {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  padding: 5px 20px;
  color: #46bfbc;
  font-size: 20px;
  border-radius: 30px;
  border: 1px solid #46bfbc;
  text-align: center;
  margin-bottom: 4px;
}
#components--fact-blob .below-part {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #6b6866;
  position: relative;
  top: 5px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}
#components--climb-view {
  width: 960px;
  margin: 0 auto;
  margin-top: 30px;
}
#components--climb-view .climb-details .climb-information {
  width: 615px;
}
#components--climb-view .climb-details .climb-information .quick-facts {
  position: relative;
  width: 100%;
}
#components--climb-view .climb-details .climb-information .quick-facts #components--star-rating {
  position: absolute;
  top: 0;
  right: 0;
}
#components--climb-view .climb-details .climb-text h2.climb-name {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #40c0be;
  padding-top: 90px;
  font-size: 35px;
  margin: 0;
  text-transform: uppercase;
}
#components--climb-view .climb-details .climb-text h3.climb-quick-location {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
#components--climb-view .climb-details .climb-text p.climb-description,
#components--climb-view .climb-details .climb-text p.climb-location,
#components--climb-view .climb-details .climb-text p.climb-history {
  font-size: 15px;
}
#components--climb-view .climb-details .climb-text .climb-text-separator {
  padding: 0;
  margin: 30px 0;
  border-top: 1px solid #f0f2f0;
  height: 1px;
}
#components--climb-view .climb-details .climb-text .climb-data ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#components--climb-view .climb-details .climb-text .climb-data ul li {
  display: inline-block;
  width: 50%;
}
#components--climb-view .climb-details .climb-text .climb-data ul li span {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
#components--climb-view .climb-details .climb-gallery {
  width: 300px;
  margin-right: 45px;
  margin-bottom: 30px;
  float: left;
}
#components--climb-view .climb-details .climb-gallery .gallery-preview-img a {
  display: block;
  text-decoration: none;
  opacity: 1;
  transition: all 250ms ease;
}
#components--climb-view .climb-details .climb-gallery .gallery-preview-img a:hover {
  opacity: 0.8;
}
#components--climb-view .climb-details .climb-gallery .gallery-preview-img a img {
  max-width: 100%;
  max-height: 500px;
  display: block;
}
#components--climb-view .climb-details .climb-gallery .gallery-preview-img a .gallery-open {
  background-color: #f3d637;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
}
#components--climb-view .climb-details .climb-information {
  float: left;
}
#components--climb-view .climb-comments h3 {
  font-size: 24px;
}
#components--climb-view .climb-comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#components--climb-view .climb-comments ul li.comment {
  display: block;
  min-height: 50px;
  padding: 20px 0;
  border-bottom: 1px solid #f0f2f0;
}
#components--climb-view .climb-comments ul li.comment:last-of-type {
  border-bottom: 0;
}
#components--climb-view .climb-comments ul li.comment div.user,
#components--climb-view .climb-comments ul li.comment div.comment-text {
  display: inline-block;
  vertical-align: top;
}
#components--climb-view .climb-comments ul li.comment div.user {
  width: 20%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
#components--climb-view .climb-comments ul li.comment div.user div.poster-img,
#components--climb-view .climb-comments ul li.comment div.user div.poster {
  vertical-align: top;
  display: inline-block;
}
#components--climb-view .climb-comments ul li.comment div.user div.poster-img {
  padding-right: 10px;
}
#components--climb-view .climb-comments ul li.comment div.user div.poster {
  text-transform: uppercase;
}
#components--climb-view .climb-comments ul li.comment div.user div.poster .poster-name {
  padding-top: 7px;
  font-size: 11px;
  color: #40c0be;
}
#components--climb-view .climb-comments ul li.comment div.user div.poster .poster-name a {
  text-decoration: none;
}
#components--climb-view .climb-comments ul li.comment div.user div.poster .post-time {
  font-size: 9px;
}
#components--climb-view .climb-comments ul li.comment div.comment-text {
  width: 80%;
  padding-top: 5px;
  font-size: 15px;
}
#components--breadcrumb {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
  color: #6b6866;
  font-size: 13px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  height: 100%;
}
#components--breadcrumb:first-of-type:before {
  display: none;
}
#components--breadcrumb:before {
  margin: 0 5px 0 6px;
  content: '\E5CC';
  color: #6b6866;
  vertical-align: top;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
#components--breadcrumbs {
  height: 40px;
  background-color: #f0f2f0;
}
#components--breadcrumbs .breadcrumbs-inner {
  width: 960px;
  margin: 0 auto;
}
#components--button-link {
  transition: all 250ms ease;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 30px;
  padding: 10px 15px;
  margin: 0 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
  border: 0;
}
#components--button-link.primary-1 {
  background-color: #40c0be;
}
#components--button-link.primary-1:hover {
  background-color: rgba(64, 192, 190, 0.5);
}
#components--button-link.primary-2 {
  background-color: #f3d637;
}
#components--button-link.primary-2:hover {
  background-color: rgba(243, 214, 55, 0.5);
}
#components--nav {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #40c0be;
}
#components--nav .nav-inner {
  width: 960px;
  margin: 0 auto;
}
#components--nav .nav-inner .logo,
#components--nav .nav-inner .links,
#components--nav .nav-inner .auth {
  vertical-align: top;
  display: inline-block;
}
#components--nav .nav-inner .links,
#components--nav .nav-inner .auth {
  float: right;
}
#components--nav .nav-inner .logo {
  height: 100%;
}
#components--nav .nav-inner .logo .logo-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  padding: 0 20px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 25px;
  color: #40c0be;
  text-decoration: none;
  text-transform: uppercase;
}
#components--nav .nav-inner .links {
  height: 100%;
}
#components--nav .nav-inner .links a {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  padding: 0 17px;
  display: inline-block;
  letter-spacing: 1px;
  color: #6b6866;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 500ms ease;
  -moz-box-shadow: inset 0 0 0 0 #f3d637;
  -webkit-box-shadow: inset 0 0 0 0 #f3d637;
  box-shadow: inset 0 0 0 0 #f3d637;
}
#components--nav .nav-inner .links a:hover,
#components--nav .nav-inner .links a.active {
  -moz-box-shadow: inset 0 -12px 0 -10px #f3d637;
  -webkit-box-shadow: inset 0 -12px 0 -10px #f3d637;
  box-shadow: inset 0 -12px 0 -10px #f3d637;
}
#components--nav .nav-inner .auth {
  height: 100%;
  margin-left: 10px;
}
