*,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  color: #263238;
}
.bg {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  -ms-background-size: fixed;
  -o-background-size: fixed;
  -moz-background-size: fixed;
  -webkit-background-size: fixed;
  background-size: fixed;
}
.bg .bg-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.01);
}
#app {
  position: relative;
  z-index: 2;
}
.app-container {
  margin-top: 20px !important;
}
.logo {
  font-size: 32px;
  margin: 0 20px;
}
a[title="Click to see this area on Google Maps"] {
  display: none !important;
}
.navbar-fixed nav {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 93%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.gm-style-cc {
  display: none !important;
}
.db-breadcrumbs {
  height: 40px;
  line-height: 40px;
}
.climb-table {
  padding-bottom: 20px;
}
.preview-card .preview-card-image {
  overflow: hidden;
  height: 150px;
  background-size: cover;
}
.preview-card .card-content p {
  height: 75px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entity-view {
  background: #fff;
  border-radius: 3px;
  padding: 20px 20px 0 20px;
}
.entity-view .entity-summary h1,
.entity-view .entity-summary h2,
.entity-view .entity-summary h3 {
  margin: 0;
  padding: 0;
}
.entity-view .entity-summary hr {
  margin: 20px 0;
}
.entity-view .entity-child-list {
  width: 90%;
  margin: 0 auto;
}
