* {
  padding: 0;
  margin: 0;
  color: #263238;
}
.app-container {
  margin-top: 20px !important;
}
.logo {
  font-size: 32px;
  margin: 0 20px;
}
#countryMap,
#provinceMap,
#locationMap,
#sublocationMap,
#wallMap,
#climbMap {
  height: 150px;
  background-color: #000;
}
a[title="Click to see this area on Google Maps"] {
  display: none !important;
}
.navbar-fixed nav {
  border-radius: 3px;
  width: 80%;
  left: 0;
  right: 0;
  margin: 10px auto 0 auto;
}
.gm-style-cc {
  display: none !important;
}
.mapHeader {
  position: relative;
}
.mapHeader h2 {
  background-color: #78909c;
  color: #ffffff;
  position: absolute;
  font-size: 32px;
  top: 10px;
  border-radius: 3px;
  left: 10px;
  z-index: 99999;
  margin: 0;
  padding: 10px 30px;
}
.app-breadcrumbs .app-breadcrumb {
  display: inline-block;
}
.app-table .app-table-head {
  height: 40px;
  overflow: hidden;
}
.app-table .app-table-head .app-table-column-head {
  font-size: 20px;
}
.app-table .app-table-body .app-table-tr {
  background-color: #78909c;
  margin: 5px 0;
  height: 40px;
  border-radius: 5px;
}
.app-table .app-table-body .app-table-tr .app-table-cell {
  color: #ffffff;
}
.app-table .app-table-body .app-table-tr:hover {
  background-color: #90a4ae !important;
}
